soap/soapservices/src/main/java/pl/lodz/p/it/tks/soap/services/crud.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client.soap.tks.it.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client.soap.tks.it.p.lodz.pl/" name="UserCrudSoapServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://client.soap.tks.it.p.lodz.pl/" schemaLocation="http://localhost:8080/payarasoap/UserCrudSoapServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="addClient">
<part name="parameters" element="tns:addClient"/>
</message>
<message name="addClientResponse">
<part name="parameters" element="tns:addClientResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="addManager">
<part name="parameters" element="tns:addManager"/>
</message>
<message name="addManagerResponse">
<part name="parameters" element="tns:addManagerResponse"/>
</message>
<portType name="UserCrudSoapServiceImpl">
<operation name="updateUser">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="addClient">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addClientRequest" message="tns:addClient"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addClientResponse" message="tns:addClientResponse"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addAdminResponse" message="tns:addAdminResponse"/>
</operation>
<operation name="addManager">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addManagerRequest" message="tns:addManager"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserCrudSoapServiceImpl/addManagerResponse" message="tns:addManagerResponse"/>
</operation>
</portType>
<binding name="UserCrudSoapServiceImplPortBinding" type="tns:UserCrudSoapServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addManager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserCrudSoapServiceImplService">
<port name="UserCrudSoapServiceImplPort" binding="tns:UserCrudSoapServiceImplPortBinding">
<soap:address location="http://localhost:8080/payarasoap/UserCrudSoapServiceImplService"/>
</port>
</service>
</definitions>