soap/soapservices/src/main/java/pl/lodz/p/it/tks/soap/services/filter.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client.soap.tks.it.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client.soap.tks.it.p.lodz.pl/" name="UserFilterSoapServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://client.soap.tks.it.p.lodz.pl/" schemaLocation="http://localhost:8080/payarasoap/UserFilterSoapServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="filterAdmins">
<part name="parameters" element="tns:filterAdmins"/>
</message>
<message name="filterAdminsResponse">
<part name="parameters" element="tns:filterAdminsResponse"/>
</message>
<message name="filterManagers">
<part name="parameters" element="tns:filterManagers"/>
</message>
<message name="filterManagersResponse">
<part name="parameters" element="tns:filterManagersResponse"/>
</message>
<message name="filterClients">
<part name="parameters" element="tns:filterClients"/>
</message>
<message name="filterClientsResponse">
<part name="parameters" element="tns:filterClientsResponse"/>
</message>
<portType name="UserFilterSoapService">
<operation name="filterAdmins">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterAdminsRequest" message="tns:filterAdmins"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterAdminsResponse" message="tns:filterAdminsResponse"/>
</operation>
<operation name="filterManagers">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterManagersRequest" message="tns:filterManagers"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterManagersResponse" message="tns:filterManagersResponse"/>
</operation>
<operation name="filterClients">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterClientsRequest" message="tns:filterClients"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserFilterSoapService/filterClientsResponse" message="tns:filterClientsResponse"/>
</operation>
</portType>
<binding name="UserFilterSoapServiceImplPortBinding" type="tns:UserFilterSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="filterAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterManagers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserFilterSoapServiceImplService">
<port name="UserFilterSoapServiceImplPort" binding="tns:UserFilterSoapServiceImplPortBinding">
<soap:address location="http://localhost:8080/payarasoap/UserFilterSoapServiceImplService"/>
</port>
</service>
</definitions>