soap/soapservices/src/main/java/pl/lodz/p/it/tks/soap/services/get.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client.soap.tks.it.p.lodz.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client.soap.tks.it.p.lodz.pl/" name="UserGetSoapServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://client.soap.tks.it.p.lodz.pl/" schemaLocation="http://localhost:8080/payarasoap/UserGetSoapServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getClients">
<part name="parameters" element="tns:getClients"/>
</message>
<message name="getClientsResponse">
<part name="parameters" element="tns:getClientsResponse"/>
</message>
<message name="getManagers">
<part name="parameters" element="tns:getManagers"/>
</message>
<message name="getManagersResponse">
<part name="parameters" element="tns:getManagersResponse"/>
</message>
<message name="getAdmins">
<part name="parameters" element="tns:getAdmins"/>
</message>
<message name="getAdminsResponse">
<part name="parameters" element="tns:getAdminsResponse"/>
</message>
<portType name="UserGetSoapService">
<operation name="getUser">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getClients">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getClientsRequest" message="tns:getClients"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getClientsResponse" message="tns:getClientsResponse"/>
</operation>
<operation name="getManagers">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getManagersRequest" message="tns:getManagers"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getManagersResponse" message="tns:getManagersResponse"/>
</operation>
<operation name="getAdmins">
<input wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getAdminsRequest" message="tns:getAdmins"/>
<output wsam:Action="http://client.soap.tks.it.p.lodz.pl/UserGetSoapService/getAdminsResponse" message="tns:getAdminsResponse"/>
</operation>
</portType>
<binding name="UserGetSoapServiceImplPortBinding" type="tns:UserGetSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getManagers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserGetSoapServiceImplService">
<port name="UserGetSoapServiceImplPort" binding="tns:UserGetSoapServiceImplPortBinding">
<soap:address location="http://localhost:8080/payarasoap/UserGetSoapServiceImplService"/>
</port>
</service>
</definitions>